app:
  name: "go-docker-devcontainer-starter"
  version: "1.0.0"

http:
  port: "8080"

logger:
  log_level: "debug"

db:
  db_user: ""
  db_password: ""
  db_host: ""
  db_name: ""
  db_port: ""
  db_parse_time: "1"
  db_loc: "Asia/Jakarta"